*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
 }
 /*Use 'margin: auto' for non flexbox/grid projects */
 
 
 /* Fits images in containers no matter the size */
 

.responsive {
   min-width: 100%;
   width: 21.4375em;
   height: 15em;
   background-image: url('images/chanel-mobile.png');
   background-repeat: no-repeat;
   background-size: cover;
}

/* Common Flex Containers */

#canvas, #card, .btn {
   display: flex;
   justify-content: center;
   align-items: center;
 }

/* Flex Direction Column */

#card, #flex {
  flex-direction: column;
}


#canvas {
  width: 100%;
  height: 100vh;
  background-color: #F2EAE2;
}

#card {
  max-width: 21.4375em;
  min-width: 69%;
  height: 38.1875em;
  padding: 1.75em 0 1.75em 0;
  background-color: white;
  border-radius: 0.625em 0.625em 0.625em 0.625em;
  margin-top: -70px;
}

#flex {
  display: flex;
  min-width: 100%;
}

.info-container {
   position: relative;
   height: 23.1875em;
   padding: 1.5em;
}

.btn {
  width: 295px;
  min-width: 100%;
  height: 3em;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.04375em;
  border-radius: 0.5em;
  color: #FFF;
  background-color: #3D8168;
  margin-top: 1.4286em;
}

.btn img {
  margin-right: 0.643em;
}

/* Typography */


/* Common Montserrat Font Families */

.perfume, .para, .old-dollars {
  font-style: normal;
  font-weight: 500;
}

.gabrielle, .new-dollars {
  font-family: Fraunces, sans-serif;
  font-style: normal;
}

/* Common Position: absolute Property */

.old-dollars, footer {
  position: absolute;
}

.perfume {
  width: 5.75em;
  height: 0.9375em;
  font-size: 0.75rem;
  line-height: normal;
  letter-spacing: 0.3125em;
  text-transform: uppercase;
}

.gabrielle {
  width: 9.21875em;
  min-width: 100%;
  height: 2em;
  font-size: 2rem;
  font-weight: 700;
  line-height: 32px;
  margin-top: 0.6em;
}

.para {
  width: 18.438em;
  min-width: 90%;
  height: 5.75em;
  font-size: 0.875rem;
  line-height: 23px;
  color: #6C7289;
  margin: 1.43em 0 2.4em 0;
}

.new-dollars {
  width: 7.938em;
  height: 2em;
  font-size: 2rem;
  font-weight: 700;
  line-height: 32px;
  color: #3D8168;
  margin-right: 0.594em;
}

.old-dollars {
  bottom: 7.3em;
  width: 3em;
  height: 1.438em;
  font-size: 0.8125rem;
  line-height: 23px;
  text-decoration-line: line-through;
  color: #6C7289;
}

footer {
  bottom: 0.5em;
  max-width: 90%;
}

.btn:hover {
  transition: 0.7s;
  cursor: pointer;
  background-color: #589981;
}

.attribution {
  margin-top: 1.875em;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
}

.attribution, a {
  background-color: rgba(0, 0, 0, 0.0);
}

/* Animation for footer */

footer a {
  animation: smoothFill 5s ease-out 0s infinite both;
  text-decoration: none;
}

 @keyframes smoothFill {
  00%,0%{
    color: #ff0000;
  }
  8%{
    color: #ff7f00;
  }
  16%{
    color: #ffff00;
  }
  25%{
    color: #7fff00;
  }
  33%{
    color: #00ff00;
  }
  41%{
    color: #00ff7f;
  }
  50%{
    color: #00ffff;
  }
  58%{
    color: #007fff;
  }
  66%{
    color: #0000ff;
  }
  75%{
    color: #7f00ff;
  }
  83%{
    color: #ff00ff;
  }
  91%{
    color: #ff007f;
  }
}

 @media( min-width: 768px ) {
   #card {
      min-width: 37.5em;
      height: 28.125em;
   }

   #flex {
      flex-direction: row;
   }

   .responsive {
      min-width: 0%;
      max-width: 18.75em;
      height: 28.125em;
      background-image: url('images/chanel-desktop.png');
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 0.625em 0 0 0.625em;
   }

   .info-container {
      width: 18.75em;
      height: 28.125em;
      border-radius: 0 0.625em 0.625em 0;
   }

   .gabrielle {
      width: 7.75em;
      height: 3em;
      margin: 1em 0 0.8em 0;
   }

   .para {
      width: 14.813em;
      height: 5.75em;
      margin: 1.9em 0 2.6em 0;
   }

   .btn {
      width: 14.75em;
      height: 3em;
      margin-top: 2.6em;
   }

   .old-dollars {
      bottom: 9.3em;
   }

   footer {
      bottom: 9em;
   }

 }

 